.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.error {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.details {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
